/* General */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@300&display=swap");

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  margin-bottom: 50px;
}
header .logo {
  margin-top: 20px;
  margin-left: 100px;
}

.logo img {
  width: 150px;
}
.titolo {
  color: white;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
  font-family: "Outfit", sans-serif;
}
.titolo span {
  font-weight: bold;
}
/* Container */
/* font-family: 'Inter', sans-serif; */
.options {
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 60%;
  margin: 10px auto 10px auto;
}
.option {
  border: white;
}
footer {
  color: white;
  text-align: center;
  margin-top: 30%;
  font-family: "Outfit", sans-serif;
  font-size: large;
}
footer .question-tot {
  color: #d20094;
}
