/* General */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@300&display=swap");

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Header */
header {
  margin-bottom: 10vh;
}

header .logo img {
  width: 15vw;
  padding-top: 5vh;
  padding-left: 8vw;
}
.titolo {
  color: white;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin: 5vw auto 5vw auto;
  font-family: "Outfit", sans-serif;
  width: 80%;
}

.titolo span {
  font-weight: 900;
}
/* timer */
.timer {
  color: white;
  position: absolute;
  top: 10vh;
  right: 7vw;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
}
.timer-bar {
  width: 100px;
  height: 5px;
  position: absolute;
  top: 16vh;
  right: 7vw;
  background-color: rgba(0, 110, 255, 0.919);
}
.timer-bar.animation {
  animation-name: example;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    width: 100px;
  }
  25% {
    width: 75px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 25px;
    background-color: rgb(255, 123, 0);
  }
  100% {
    width: 0px;
    background-color: red;
  }
}

/* Container */
.options {
  color: white;
  font-family: "Inter", sans-serif;
  width: 80%;
  margin: 0 auto 0 auto;
}
.option {
  text-align: center;
  border: whitesmoke solid 3px;
  border-radius: 102px;
  padding: 40px;
  margin: 20px;
  background-color: rgba(192, 192, 192, 0.1);
  box-shadow: 2px 2px 5px;
}
.option:hover {
  background-color: #d20094;
}

/* Footer */
footer {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: large;
  position: absolute;
  bottom: 2vh;
  left: 44vw;
  /* border: white solid 2px; */
}

footer .question-tot {
  color: #d20094;
}

/* .stelle i:hover {
  color: aqua;
} */
