/* General */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@300&display=swap");

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  margin-bottom: 50px;
}
header .logo {
  margin-top: 20px;
  margin-left: 100px;
}

.logo img {
  width: 150px;
}
.titolo {
  color: white;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
  font-family: "Outfit", sans-serif;
}

.titolo span {
  font-weight: 900;
}
/* Container */
.options {
  color: white;
  font-family: "Inter", sans-serif;
  width: 80%;
  margin: 10% auto 10px auto;
}
.option {
  text-align: center;
  border: whitesmoke solid 3px;
  border-radius: 102px;
  padding: 40px;
  margin: 20px;
  background-color: rgba(192, 192, 192, 0.1);
}
footer {
  color: white;
  text-align: center;
  margin-top: 30%;
  font-family: "Outfit", sans-serif;
  font-size: large;
}
footer .question-tot {
  color: #d20094;
}
