body {
  font-family: "Poppins", sans-serif;
}
.imgsfondo {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  width: 100%;
}
.imglogo {
  width: 150px;
  margin-left: 80px;
  margin-top: 20px;
}
.titolo {
  padding-top: 10px;
}
h1 {
  color: #e7e7eb;
  margin-left: 80px;
  font-size: 4em;
}
.spanTit {
  font-weight: lighter;
  padding-left: 5px;
}
h2 {
  color: #bc128a;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 30px;
}
.container {
  margin-left: 80px;
}
.parh2 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #e7e7eb;
}
ul {
  padding-left: 25px;
}
li {
  padding-bottom: 5px;
  color: #e7e7eb;
}
.lispan {
  color: white;
  font-weight: 600;
}
footer {
<<<<<<< Updated upstream
  margin-left: 80px;
}
.fa-regular fa-square {
  color: white;
  display: inline-block;
}
.divfooter {
  display: inline-block;
}
.parfooter {
  color: white;
=======
  display: inline-block;
  color: white;
  margin-left: 80px;
  font-weight: 600;
}
input {
  display: inline-block;
  margin-right: 3px;
}
.footpara {
>>>>>>> Stashed changes
  display: inline-block;
}
